# mz vvv
# misc local ides
.emacs.d/
.emacs.d-psession/
.emacs.d-desktop/
.projectile
.gnupg

# results of integration_test to ignore
integration_test/screenshots_tested/

# Emacs, maybe other edit lock files
.\#*

# Private notes, todos, readme
INTERNAL-GITIGNORE/

#  Most of android and ios dirs are needed to run the example/lib/main.dart sample app (on android, not sure about Ios)
# android
# ios
# mz ^^^


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
# .dart_tool directory and .packages files are created after you’ve run pub get.
#   Don’t check them into source control.
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
# pubspec.lock file id created after you’ve run pub get. Leave it out of source control
#   because this package is a library package (not an application package, then we would commit it).
pubspec.lock

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
