.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
*.iml
# also ignore android and ios - not needed unless plugins are used or developed - todo is this right?
android
ios

