name: flutter_charts
version: 0.1.8
description: Charts Library for Flutter, written in Dart with Flutter.
author: Milan Zimmermann <milan.zimmermann@gmail.com>
homepage: https://github.com/mzimmerm/flutter_charts/
publish_to: https://pub.dartlang.org
documentation: https://pub.dartlang.org/packages/flutter_charts/doc

# See https://www.dartlang.org/tools/pub/dependencies for dependency syntax,
#   including how to depend on package on github or local server.

dependencies:
  flutter:
    sdk:  flutter
  decimal: ">=0.1.4 <0.2.0"

dev_dependencies:
  test:
  flutter_test:
    sdk:  flutter


# Example of dependency on another project: local, github, locally hosted on own pub server on 8080,
#
#   # local directory
#   flutter_charts_common:
#     path: ~/dev/my-projects-source/public-on-github/flutter_charts_common
#
#   # github
#   flutter_charts_common:
#     git:
#       url: https://github.com/mzimmerm/flutter_charts_common.git
#       branch: master
#  
#   # locally hosted on own pub server on 8080
#   flutter_charts_common:
#     hosted:
#       name: flutter_charts_common
#       url: http://localhost:8080
#
#   # this default assumes package on official pub repo
#   flutter_charts_common:

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section here, in
  # this "flutter" section, as in:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # To add assets from package dependencies, first ensure the asset
  # is in the lib/ directory of the dependency. Then,
  # refer to the asset with a path prefixed with
  # `packages/PACKAGE_NAME/`. Note: the `lib/` is implied, do not
  # include `lib/` in the asset path.
  #
  # Here is an example:
  #
  # assets:
  #  - packages/PACKAGE_NAME/path/to/asset

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
