# Default ignored files
/shelf/
# workspace.xml contains Edit->Run Configurations, so keep it
# /workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
